.Main {
    &_Container {
        overflow-x: hidden;
        overflow-y: hidden;
        min-width: 100vw;
        min-height: 100vh;
        z-index: -1;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        video {
          filter: brightness(70%);
        }
        &_background {
          width: 100%;
          height: auto;
        }
      }
}
@media screen and (max-width: 1342px) {
  .Main {
    &_Container {
      display: none;
    } 
  }
}




// .Main {
//   &_Container {
//       overflow-x: hidden;
//       overflow-y: hidden;
//       min-width: 100vw;
//       min-height: 100vh;
//       z-index: -1;
//       position: absolute;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       top: 0;
//       video {
//         filter: brightness(70%);
//       }
      
//       &_background {
//         max-width: 100%;
//         min-height: 100%; 
             
//       }
//       &_Img {
        
//         position: absolute;
//         bottom:64px;
//         width: 100vw;
//         height: 100vh;
//         img {
//           width: 30%;
//           height: auto;
//         }
//       }
//     }
// }
// @media screen and (max-width: 768px) {
// .Main {
//   &_Container {
//     display: none;
//   } 

// }
// }