.Main {
    &_Join {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 70%;
        height: 100%;
        margin: 0;
        margin-top: 2rem;
        padding: 0;
        z-index: 10;
        gap:3rem ;
        img {
          width: 30%;
          min-width: 30%;
          margin-top: 1rem;
          margin-left: 0;
          
        }
        &_text {
          --glow-color: rgb(176, 255, 254);
          --glow-spread-color: rgba(123, 255, 248, 0.781);
          --enhanced-glow-color: rgb(206, 248, 255);
          --btn-color: rgb(61, 128, 136);
          border: .25em solid var(--glow-color);
          padding: 1px 2em;
          color: var(--glow-color);
          font-size: 15px;
          font-weight: bold;
          background-color: var(--btn-color);
          border-radius: 1em;
          outline: none;
          box-shadow: 0 0 1em .25em var(--glow-color),
                  0 0 4em 1em var(--glow-spread-color),
                  inset 0 0 .75em .25em var(--glow-color);
          text-shadow: 0 0 .5em var(--glow-color);
          position: relative;
          transition: all 0.3s;
          h3 {
            width: 100%;
            a {
              
              color: var(--glow-color);
              text-decoration: none;
            }
          }
        }
    
        &_text::after {
          pointer-events: none;
          content: "";
          position: absolute;
          top: 120%;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: var(--glow-spread-color);
          filter: blur(2em);
          opacity: .7;
          transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
          }
    
        &_text:hover {
          color: var(--btn-color);
          background-color: var(--glow-color);
          box-shadow: 0 0 1em .25em var(--glow-color),
                  0 0 4em 2em var(--glow-spread-color),
                  inset 0 0 .75em .25em var(--glow-color);
          }
          h3 {
            a:hover {
              color: var(--btn-color);
              text-decoration: none;
            }
          }
    
        &_text:active {
          box-shadow: 0 0 0.6em .25em var(--glow-color),
                      0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .5em .25em var(--glow-color);
        }
      }
}
@media (max-width: 900px) {
  .Main {
    &_Join {
      img {
        min-width: 200px;
      }
    }
  }
}